body {
    padding:2px;
    font-family:sans-serif;
}
h1 {
    font-size:12pt;
    margin:4px 0 10px 0;
}
#logo {
    float:right;
}
input[type="text"], textarea {
    width:100%;
    -moz-box-sizing:border-box;
}
textarea {
    height:100px;
}